@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
.header-block {
  padding-top: 75px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header-block__search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block__links-container a {
  cursor: pointer;
  margin-left: 2vw;
  color: #274C5B;
  font-size: 1.5em;
  font-weight: bold;
}
.header-block__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-block__search-container button {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #7EB693;
  width: 58px;
  position: relative;
  right: 60px;
  height: 58px;
  top: 2px;
  background-image: url("../Images/Header/Search.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 50%;
}
.header-block__search-container input {
  border-radius: 30px;
  height: 60px;
  border: none;
  background-color: #F9F8F8;
  width: 20vw;
  padding-left: 15px;
  font-size: 1.5em;
}
.header-block__cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 30px;
  height: 60px;
  border: 2px solid #EFF6F1;
  padding: 2px;
  padding-right: 10px;
}
.header-block__cart-container div {
  background-color: #274C5B;
  padding: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}
.header-block__cart-container p {
  color: #274C5B;
  font-size: 18px;
  font-weight: bold;
}

#cart-count {
  display: inline;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info-block__follow-us {
  border-left: 1px solid #D4D4D4;
  border-right: 1px solid #D4D4D4;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info-block__follow-us p {
  text-align: center;
}
.info-block__contact-us {
  text-align: end;
  padding-right: 5vw;
}
.info-block__contact-us h6 {
  margin: 0;
}
.info-block__utility-pages {
  padding-left: 5vw;
}
.info-block__social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh;
}
.info-block__social_container div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #EFF6F1;
  margin-right: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-block__copyrigh-section {
  margin-top: 5vh;
  border-top: 1px solid #D4D4D4;
  text-align: center;
}

.natural-food {
  background-image: url("../Images/NaturalFood/Background.png");
  background-repeat: no-repeat;
  height: 1100px;
  background-size: 100%;
  position: relative;
}
.natural-food__text-container {
  position: relative;
  top: 300px;
  left: 15vw;
  width: 84vw;
}
.natural-food__text-container h1 {
  width: 530px;
}
.natural-food__text-container button {
  border-radius: 20px;
  padding: 10px 20px;
  width: 230px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #EFD372;
  color: #274C5B;
}

.small-get-cards {
  margin-top: 15vh;
  margin-left: 15vw;
  margin-right: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.small-get-cards__left-card {
  background-image: url("../Images/SmallGetCards/LeftCard.jpg");
  background-size: 100% 100%;
  width: 33vw;
  height: 30vh;
  min-height: 350px;
  border-radius: 30px;
}
.small-get-cards__left-card p {
  color: white;
  margin-bottom: 10px;
}
.small-get-cards__left-card h3 {
  margin-top: 0;
  color: white;
}
.small-get-cards__right-card {
  background-image: url("../Images/SmallGetCards/RightCard.jpg");
  background-size: 100% 100%;
  width: 33vw;
  height: 30vh;
  min-height: 350px;
  border-radius: 30px;
}
.small-get-cards__right-card p {
  margin-bottom: 10px;
}
.small-get-cards__right-card h3 {
  margin-top: 0;
}
.small-get-cards__text-container {
  width: 45%;
  margin-left: 5%;
  margin-top: 15%;
}

.about-us-section {
  background-color: #F9F8F8;
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 20vw 10vh 10vw;
}
.about-us-section__small-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.about-us-section__small-block h6 {
  margin: 0;
}
.about-us-section__small-block img {
  margin-right: 15px;
}
.about-us-section__text-container button {
  border-radius: 20px;
  padding: 10px 20px;
  width: 230px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #274C5B;
  color: #F9F8F8;
  margin-top: 50px;
}
.about-us-section__text-container h2 {
  margin-top: 0;
  width: 550px;
}

p {
  font-size: 1.2em;
  color: #525C60;
}

h1 {
  font-size: 4.375em;
  color: #274C5B;
}

h2 {
  font-size: 3.125em;
  color: #274C5B;
}

h3 {
  font-size: 2.5em;
  color: #274C5B;
}

h4 {
  font-size: 2.1875em;
  color: #274C5B;
}

h5 {
  font-size: 1.875em;
  color: #274C5B;
}

h6 {
  font-size: 1.5625em;
  color: #274C5B;
}

.handwriting-text {
  font-family: "Yellowtail", cursive;
  color: #7EB693;
  font-size: 2.25em;
}/*# sourceMappingURL=main.css.map */