@import "mixins";

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    h2{
        margin-top: 0;
    }
    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:20px;
        justify-content: center;
    }
    button{
        @include default-dark-button;
        margin-top: 5vh;
    }
    .hidden{
        display: none;
    }
}

.product{
    background-color: $very-light-grey-collor;
    border-radius: 30px;
    padding: 30px;
    cursor: pointer;
    &__category{
        color: white;
        background-color: $main-blue-collor;
        border-radius: 10px;
        padding: 5px 10px;
        width: fit-content;
        margin-top: 0;
    }
    &__name{
        border-bottom: 1px solid $main-grey-collor;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    &__price-rating-block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        h6{
            margin: 0;
        }
    }
    &__prew-price{
        display: inline;
        margin-right: 10px;
        text-decoration: line-through;
    }
    &__new-price{
        display: inline;
    }
    .stars-container{
        display: inline-flex;
    }
    &__image{
        height: 325px;
    }
}
@media screen and (max-width: 1660px) {
    .categories{
        &__container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}