$main-blue-collor : #274C5B;
$main-green-collor : #7EB693;
$main-yellow-collor : yellow;//get from figma
$main-grey-collor : #D4D4D4;
$very-light-grey-collor : #F9F8F8;
$light-grey-collor : #EFF6F1;
$dark-grey-collor : #525C60;