@import 'mixins';

.about-us-section{
    background-color: $very-light-grey-collor;
    margin-top: 15vh;
    display: flex;
    padding: 10vh 20vw 10vh 10vw;
    &__small-block{
        display: flex;
        align-items: center;
        margin-top: 30px;
        h6{
            margin: 0;
        }
        img{
            margin-right: 15px;
        }
    }
    &__text-container{
        button{
            @include default-dark-button;
            margin-top:50px;
        }
        h2{
            margin-top: 0;
            width: 550px;
        }
    }
}