@import 'mixins';
@import 'header';

.info-block{
    display: flex;
    justify-content: center;
    &__follow-us{
        border-left: 1px solid $main-grey-collor;
        border-right: 1px solid $main-grey-collor;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__contact-us{
        text-align: end;
        padding-right: 5vw;
    }
    &__utility-pages{
        padding-left: 5vw;
    }
}

.footer-block__copyrigh-section{
    margin-top:5vh;
    border-top:1px solid $main-grey-collor;
    text-align: center;
}

img{
    width: 50px;    
}